<!-- app/views/games/new.html.erb -->

<h1>New Game</h1>

<p>Here is your grid:</p>
<p><%= @letters.join(' ') %></p>

<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join(' ') %>
  <%= hidden_field_tag :start_time, @start_time %>

  <%= label_tag :word, "Enter your word:" %>
  <%= text_field_tag :word %>
  <%= submit_tag "Submit" %>
</form>
